# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e0zxq.eu-west-3.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=3QDE6J3B376333LB
sasl.password=eU5IR/4NKTiJPGOhEfTnzlpStjWoO3tVrWanAHulx+DkGhtKzYN6UA5YKY4nNvMk

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}
